.activity {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin: 25px 0 25px 25px;
  flex: 0 0 auto;
  cursor: pointer; }
  .activity .content {
    overflow: hidden;
    white-space: nowrap; }
  .activity .x {
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    position: relative;
    top: -7%;
    left: 93%;
    font-color: red;
    text-align: center;
    cursor: pointer; }
