body {
  margin: 0;
  padding: 0;
  background-color: #f5ffff; }

a {
  text-decoration: none;
  cursor: default;
  color: black; }

input {
  font-size: 36px;
  border-radius: 20px;
  background-color: #ccebeb;
  outline: none; }

button {
  cursor: pointer;
  outline: none;
  background-color: #ccebeb;
  border: none; }
  button:hover {
    background-color: #d6f5f5; }

.link {
  cursor: pointer; }

.app {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  cursor: default;
  min-width: 750px; }
