.calendar {
  display: flex;
  flex-wrap: wrap; }
  .calendar .new-day {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin: 0 0 25px 25px;
    background-color: rgba(230, 230, 230, 0.6);
    border: solid rgba(230, 230, 230, 0.8);
    cursor: pointer; }
    .calendar .new-day .content {
      padding-top: 35px; }
