.calendar {
  display: flex; }
  .calendar .nav {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px; }
    .calendar .nav .top {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .calendar .nav .top button {
        margin-bottom: 10px; }
    .calendar .nav .bottom button {
      cursor: default; }
      .calendar .nav .bottom button:hover {
        background-color: rgba(255, 255, 255, 0.5); }
  .calendar .days-container {
    overflow: hidden; }
    .calendar .days-container .slideshow-container {
      display: flex;
      transition: margin-left 1s ease-out; }
      .calendar .days-container .slideshow-container .twenty-days {
        width: 815px;
        border-radius: 25px;
        padding: 30px 0 0 15px;
        background-color: rgba(255, 255, 255, 0.5);
        margin-right: 50px; }
        .calendar .days-container .slideshow-container .twenty-days .blank {
          display: inline-block;
          float: left;
          width: 125px;
          height: 125px;
          border-radius: 50%;
          margin: 0 0 25px 25px; }
