.meter .click-area, .meter .meter, .meter .percentage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%; }

.meter {
  position: relative; }
  .meter .title {
    margin: 15px auto;
    font-size: 28px; }
  .meter .click-area {
    width: 200px;
    height: 200px;
    margin: 65px auto;
    border: solid black;
    opacity: 0;
    z-index: 10;
    cursor: pointer; }
  .meter .meter {
    width: 200px;
    height: 200px;
    margin: 65px auto;
    background-color: transparent;
    overflow: hidden;
    transition: all 0.5s ease-out; }
    .meter .meter .filler {
      position: absolute;
      width: 200px;
      height: 200px;
      transition: all 0.5s ease-out; }
  .meter .percentage {
    margin: 125px auto;
    font-size: 48px; }
