.meter {
  position: relative; }
  .meter .title {
    margin: 15px auto;
    font-size: 28px; }
  .meter .click-area {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    margin: 65px auto;
    border: solid black;
    opacity: 0;
    z-index: 10;
    cursor: pointer; }
  .meter .meter {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    margin: 65px auto;
    border-radius: 50%;
    background-color: transparent;
    overflow: hidden;
    transition: all 0.6s ease-out; }
    .meter .meter .filler {
      position: absolute;
      width: 200px;
      height: 200px;
      transition: all 0.6s ease-out; }
  .meter .percentage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    margin: 125px auto;
    font-size: 48px; }
