.new-activity {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  text-align: center;
  margin: 25px auto; }
  .new-activity form {
    display: inline-block; }
  .new-activity input {
    text-align: center;
    border: none;
    background-color: transparent; }
  .new-activity .date {
    margin: 35px auto 5px auto;
    width: 300px;
    text-align: center;
    font-size: 48px; }
