.scatterplots figure {
  width: 600px;
  height: 300px; }

.scatterplots figure {
  display: block;
  margin: 25px auto 50px auto;
  font-size: 36px; }
  .scatterplots figure figcaption {
    font-size: 24px; }
  .scatterplots figure canvas {
    display: block;
    margin: auto; }
