.scatterplots {
  text-align: left;
  padding-left: 50px; }
  .scatterplots .graph-container {
    width: 600px;
    height: 300px; }
  .scatterplots figure {
    font-size: 36px; }
    .scatterplots figure figcaption {
      font-size: 24px; }
