.statistics {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-gap: 10px;
  margin-left: 10px; }
  .statistics .dropdown {
    grid-column: 1/span 1;
    font-size: 24px;
    padding: 10px 0;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.5); }
    .statistics .dropdown select {
      outline: none;
      font-size: 24px;
      box-shadow: 1px 1px 1px grey; }
