.box {
  width: 158px;
  height: 158px;
  border-radius: 25px;
  margin: 20px auto; }
  .box .emoji-grid {
    width: 158px;
    height: 158px;
    margin: -8px 1px;
    display: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .box .emoji-grid .emoji-container {
      width: 79px;
      height: 79px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: -1; }
      .box .emoji-grid .emoji-container .emoji {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-size: contain; }
  .box .dart {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative;
    transition: all 0.5s ease-out; }
