.box-mini
  width: 38px
  height: 38px
  border-radius: 15px
  margin: 10px auto
  .dart
    width: 5px
    height: 5px
    border-radius: 50%
    position: relative
    transition: all 0.5s ease-out
    z-index: 1
  .emoji
    width: 30px
    height: 30px
    margin: auto
    position: relative
    opacity: 0.4
    background-size: contain
