.day
  margin: 0 auto
  padding: 10px
  .activities-container
    height: 175px
    display: flex
    flex-wrap: nowrap
    overflow-x: auto
    border-radius: 25px
    background-color: rgb(200, 230, 200)
  .no-activities
    margin-left: 50px
    height: 175px
    line-height: 175px
    font-size: 72px
    color: rgb(170, 200, 170)
  .new-activity
    text-align: center
  .done
    width: 100px
    height: 100px
    border-radius: 15px
