.scatterplots
  display: grid
  grid-template-rows: auto auto
  grid-gap: 10px
  figure
    padding: 10px 0
    border-radius: 25px
    background-color: rgba(255, 255, 255, 0.5)
    figcaption
      font-size: 24px
    canvas
      display: block
      margin: auto
